

h1 {
  text-align: center
}


footer {
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto 50px auto;
}

.full-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 20px;
}

.full-col {
  padding: 10px;
}

figcaption {
  text-indent: 5%;
}

.full-col img {
  border-radius: 5%;
  margin-top: 15%;

}

main {
  border-top: 1px  #436674; 
  border-bottom: 1px  #436674; 
}