@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
  --color-primary: #436674;
  --color-white: #ffffff;
  --color-offwhite: #fff1e8;
  --color-offwhite-dark: #ffd3b9;
  --color-dark: #18252bad;
  --color-primary-dark: #d7f9ffad;
  --color-background: #464e52;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Abel', monospace;
  background-color: var(--color-background);
}

/* General styles */
.logo {
  color: var(--color-white);
  font-size: 32px;
}

.menu-bar {
  background-color: var(--color-dark);
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1; /* Ensure the menu bar is above other content */
}

.menu-bar ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.menu-bar ul li {
  position: relative;
  text-align: center;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
  transition: background 0.1s, color 0.1s;
  display: block;
  width: 100%; /* Make anchor tag full width */
  height: 100%; /* Make anchor tag full height */
  padding: 10px 30px; /* Adjust padding as needed */
  box-sizing: border-box; /* Include padding in width/height */
}

.menu-bar ul li a:hover {
  background-color: var(--color-primary-dark); /* Change entire background */
  color: var(--color-primary);
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-dark);
  z-index: 2; /* Ensure the dropdown menu is above the header content */
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 1px;
}

h1{
  color: var(--color-white);
  margin-left: 20px;
  font-size: 36px;
}

header {
  background-color: #000606;
  height: auto; /* Allow header to adjust height based on content */
  position: relative; /* Needed for absolute positioning inside */
  padding-bottom: 46px;
}

.header-para {
  position: relative;
  text-align: left;
  font-size: 20px;
  color: var(--color-offwhite-dark);
  margin-left: 20px;
}

.top-text {
  position: absolute;
  width: 600px;
  top: 20px;
  left: 20px; /* Adjusted to hug the left side */
}

/* Adjustments for mobile devices */
@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--color-dark);
    color: var(--color-white);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-primary);
  }
  
  .menu-bar {
    height: auto;
    flex-direction: column;
    align-items: stretch;
    position: static;
  }
  
  .menu-bar ul {
    flex-direction: column;
  }
  
  .menu-bar ul li {
    text-align: left;
    padding: 10px 20px;
  }
  
  .menu-bar ul li a {
    width: auto;
    height: auto;
    font-size: 18px;
  }
  
  .dropdown-menu {
    position: static;
    display: none;
    background-color: var(--color-dark);
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: static;
    background-color: var(--color-dark);
    z-index: 2; /* Ensure the dropdown menu is above the header content */
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 100%;
    padding: 5px 10px;
  }

  h1{
    color: var(--color-white);
    margin-left: 20px;
    font-size: 26px;
  }
  
  header {
    background-color: #000606;
    height: auto; /* Allow header to adjust height based on content */
    position: relative; /* Needed for absolute positioning inside */
    padding-bottom: 46px;
  }
  
  .header-para {
    position: relative;
    text-align: left;
    font-size: 16px;
    color: var(--color-offwhite-dark);
    margin-left: 20px;
  }
  
  .top-text {
    position: absolute;
    width: 600px;
    top: 5px;
    left: 5px; /* Adjusted to hug the left side */
  }
}


main {
  text-align: left;
  margin-left: 20px;
}

h2 {
  color: var(--color-white);
  font-size: 32px;
}

h3 {
  color: var(--color-offwhite);
  font-size: 26px;
  
}

main p, main ul li, dl, dd {
  color: var(--color-offwhite-dark);
  font-size: 20px;
  margin-left: 20px;
}

.case-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
}

.column3, .column2 {
  flex: 1;
  padding: 5px;
  max-width: calc(33.33% - 10px);
  width: 100%;
}

.column2 {
  max-width: calc(50% - 10px);
}

.column3 img, .column2 img {
  max-width: 100%;
  height: auto;
}

.column3 figure, .column2 figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: thin solid var(--color-offwhite); /* Figure outline */
  padding: 2px;
  margin: auto;
}

figcaption {
  font-family: 'Abel', monospace;
  font-size: 20px;
  color: var(--color-offwhite);
  padding: 3px;
  text-align: center;
}

dl{
  color: var(--color-offwhite-dark);
  font-size: 20px;
  
}
